{% include "header.html" %}
        		<div data-elementor-type="wp-page" data-elementor-id="2981" class="elementor elementor-2981">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-ce0b953 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ce0b953" data-element_type="section" data-settings="{" background_background":"classic","_ha_eqh_enable":false}"="">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7a2a70c" data-id="7a2a70c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5bfd6bd elementor-widget elementor-widget-shelly-heading-split" data-id="5bfd6bd" data-element_type="widget" data-widget_type="shelly-heading-split.default">
				<div class="elementor-widget-container">
			        <div class="site-heading">
            <h2 class="shelly-heading">
            Board of <span>Advisors</span>             </h2>

                    </div>
        		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-e0a6638 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e0a6638" data-element_type="section" data-settings="{" _ha_eqh_enable":false}"="">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e0de3c5" data-id="e0de3c5" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-54e8670 elementor-widget elementor-widget-elementskit-team" data-id="54e8670" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_54e8670_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#54e8670_2981">
					<img decoding="async" width="500" height="500" src="static/images/MIsbah-web.jpg" class="attachment-large size-large wp-image-3323" alt="Misba ur Rehman" srcset="static/images/MIsbah-web.jpg 500w, static/images/MIsbah-web-300x300.jpg 300w, static/images/MIsbah-web-150x150.jpg 150w, static/images/MIsbah-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_54e8670_2981" class="ekit-team-popup">
						Misbah-Ur-Rehman						</a>
											</h2>
					<p class="profile-designation">Advisor Publuc Relations</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_54e8670_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img decoding="async" width="500" height="500" src="static/images/MIsbah-web.jpg" class="attachment-large size-large wp-image-3323" alt="Misba ur Rehman" srcset="static/images/MIsbah-web.jpg 500w, static/images/MIsbah-web-300x300.jpg 300w, static/images/MIsbah-web-150x150.jpg 150w, static/images/MIsbah-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Misbah-Ur-Rehman</h2>
								<p class="ekit-team-modal-position">Advisor Publuc Relations</p>
								
								<div class="ekit-team-modal-content">
									To supervise various matters relating to public relations and images building of society								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ff6c669" data-id="ff6c669" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5a7eb1e elementor-widget elementor-widget-elementskit-team" data-id="5a7eb1e" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_5a7eb1e_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#5a7eb1e_2981">
					<img decoding="async" width="500" height="500" src="static/images/Naeem-web.jpg" class="attachment-large size-large wp-image-3325" alt="Muhammad Naeem" srcset="static/images/Naeem-web.jpg 500w, static/images/Naeem-web-300x300.jpg 300w, static/images/Naeem-web-150x150.jpg 150w, static/images/Naeem-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_5a7eb1e_2981" class="ekit-team-popup">
						Muhammad Naeem						</a>
											</h2>
					<p class="profile-designation">Advisor Finance</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_5a7eb1e_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img decoding="async" width="500" height="500" src="static/images/Naeem-web.jpg" class="attachment-large size-large wp-image-3325" alt="Muhammad Naeem" srcset="static/images/Naeem-web.jpg 500w, static/images/Naeem-web-300x300.jpg 300w, static/images/Naeem-web-150x150.jpg 150w, static/images/Naeem-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Muhammad Naeem</h2>
								<p class="ekit-team-modal-position">Advisor Finance</p>
								
								<div class="ekit-team-modal-content">
									To look after all financial affairs of society								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-adb91e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="adb91e7" data-element_type="section" data-settings="{" _ha_eqh_enable":false}"="">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f55a27e" data-id="f55a27e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-062222b elementor-widget elementor-widget-elementskit-team" data-id="062222b" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_062222b_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#062222b_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Ali-Tahir-web-updated.jpg" class="attachment-large size-large wp-image-3368" alt="Ali Tahir at wise" srcset="static/images/Ali-Tahir-web-updated.jpg 500w, static/images/Ali-Tahir-web-updated-300x300.jpg 300w, static/images/Ali-Tahir-web-updated-150x150.jpg 150w, static/images/Ali-Tahir-web-updated-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_062222b_2981" class="ekit-team-popup">
						Ali Tahir						</a>
											</h2>
					<p class="profile-designation">Advisor Media Affairs</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_062222b_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Ali-Tahir-web-updated.jpg" class="attachment-large size-large wp-image-3368" alt="Ali Tahir at wise" srcset="static/images/Ali-Tahir-web-updated.jpg 500w, static/images/Ali-Tahir-web-updated-300x300.jpg 300w, static/images/Ali-Tahir-web-updated-150x150.jpg 150w, static/images/Ali-Tahir-web-updated-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Ali Tahir</h2>
								<p class="ekit-team-modal-position">Advisor Media Affairs</p>
								
								<div class="ekit-team-modal-content">
									To advise and coordinate matters relating to all aspects of media								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3c116b3" data-id="3c116b3" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-aded359 elementor-widget elementor-widget-elementskit-team" data-id="aded359" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_aded359_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#aded359_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Fareeha-web.jpg" class="attachment-large size-large wp-image-3321" alt="Fareeha" srcset="static/images/Fareeha-web.jpg 500w, static/images/Fareeha-web-300x300.jpg 300w, static/images/Fareeha-web-150x150.jpg 150w, static/images/Fareeha-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_aded359_2981" class="ekit-team-popup">
						Fareeha Younas						</a>
											</h2>
					<p class="profile-designation">Advisor Human Resource</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_aded359_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Fareeha-web.jpg" class="attachment-large size-large wp-image-3321" alt="Fareeha" srcset="static/images/Fareeha-web.jpg 500w, static/images/Fareeha-web-300x300.jpg 300w, static/images/Fareeha-web-150x150.jpg 150w, static/images/Fareeha-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Fareeha Younas</h2>
								<p class="ekit-team-modal-position">Advisor Human Resource</p>
								
								<div class="ekit-team-modal-content">
									To advise on matters relating to human resource development and assistance in job placement and self-Earning of successful students								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5b35795" data-id="5b35795" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1164349 elementor-widget elementor-widget-elementskit-team" data-id="1164349" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_1164349_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#1164349_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Sam-web.jpg" class="attachment-large size-large wp-image-3326" alt="" srcset="static/images/Sam-web.jpg 500w, static/images/Sam-web-300x300.jpg 300w, static/images/Sam-web-150x150.jpg 150w, static/images/Sam-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_1164349_2981" class="ekit-team-popup">
						Sam Ali Dada						</a>
											</h2>
					<p class="profile-designation">Advisor Business Development</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_1164349_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Sam-web.jpg" class="attachment-large size-large wp-image-3326" alt="" srcset="static/images/Sam-web.jpg 500w, static/images/Sam-web-300x300.jpg 300w, static/images/Sam-web-150x150.jpg 150w, static/images/Sam-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Sam Ali Dada</h2>
								<p class="ekit-team-modal-position">Advisor Business Development</p>
								
								<div class="ekit-team-modal-content">
									To help and advise in identifying new avenues of Fund Raising and new peoject of society								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4c80b29 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4c80b29" data-element_type="section" data-settings="{" background_background":"classic","_ha_eqh_enable":false}"="">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7e61af6" data-id="7e61af6" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4dcbdef elementor-widget elementor-widget-shelly-heading-split" data-id="4dcbdef" data-element_type="widget" data-widget_type="shelly-heading-split.default">
				<div class="elementor-widget-container">
			        <div class="site-heading">
            <h2 class="shelly-heading">
            Board of <span>Directors</span>             </h2>

                    </div>
        		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-21b36c0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="21b36c0" data-element_type="section" data-settings="{" _ha_eqh_enable":false}"="">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5650a9e" data-id="5650a9e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-bfc5dae elementor-widget elementor-widget-elementskit-team" data-id="bfc5dae" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_bfc5dae_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#bfc5dae_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Mrs-tariq-web.jpg" class="attachment-large size-large wp-image-3324" alt="Hamda Tariq" srcset="static/images/Mrs-tariq-web.jpg 500w, static/images/Mrs-tariq-web-300x300.jpg 300w, static/images/Mrs-tariq-web-150x150.jpg 150w, static/images/Mrs-tariq-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_bfc5dae_2981" class="ekit-team-popup">
						Hamda Tariq						</a>
											</h2>
					<p class="profile-designation">CEO/Principal</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_bfc5dae_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Mrs-tariq-web.jpg" class="attachment-large size-large wp-image-3324" alt="Hamda Tariq" srcset="static/images/Mrs-tariq-web.jpg 500w, static/images/Mrs-tariq-web-300x300.jpg 300w, static/images/Mrs-tariq-web-150x150.jpg 150w, static/images/Mrs-tariq-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Hamda Tariq</h2>
								<p class="ekit-team-modal-position">CEO/Principal</p>
								
								<div class="ekit-team-modal-content">
									Overall managing WISE Project								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-38138b2" data-id="38138b2" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9f1ccf0 elementor-widget elementor-widget-elementskit-team" data-id="9f1ccf0" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_9f1ccf0_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#9f1ccf0_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Shahida-web.jpg" class="attachment-large size-large wp-image-3316" alt="" srcset="static/images/Shahida-web.jpg 500w, static/images/Shahida-web-300x300.jpg 300w, static/images/Shahida-web-150x150.jpg 150w, static/images/Shahida-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_9f1ccf0_2981" class="ekit-team-popup">
						Shahida Naeem						</a>
											</h2>
					<p class="profile-designation">Executive Director</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_9f1ccf0_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Shahida-web.jpg" class="attachment-large size-large wp-image-3316" alt="" srcset="static/images/Shahida-web.jpg 500w, static/images/Shahida-web-300x300.jpg 300w, static/images/Shahida-web-150x150.jpg 150w, static/images/Shahida-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Shahida Naeem</h2>
								<p class="ekit-team-modal-position">Executive Director</p>
								
								<div class="ekit-team-modal-content">
									Overall managing all public relations &amp; Sponcership								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-841fe0d" data-id="841fe0d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-49681ae elementor-widget elementor-widget-elementskit-team" data-id="49681ae" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_49681ae_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#49681ae_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Faiza-web.jpg" class="attachment-large size-large wp-image-3320" alt="" srcset="static/images/Faiza-web.jpg 500w, static/images/Faiza-web-300x300.jpg 300w, static/images/Faiza-web-150x150.jpg 150w, static/images/Faiza-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_49681ae_2981" class="ekit-team-popup">
						Faiza Malik 						</a>
											</h2>
					<p class="profile-designation">Director Finance</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_49681ae_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Faiza-web.jpg" class="attachment-large size-large wp-image-3320" alt="" srcset="static/images/Faiza-web.jpg 500w, static/images/Faiza-web-300x300.jpg 300w, static/images/Faiza-web-150x150.jpg 150w, static/images/Faiza-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Faiza Malik </h2>
								<p class="ekit-team-modal-position">Director Finance</p>
								
								<div class="ekit-team-modal-content">
									Overall managing finance ralated matters								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-c332e01 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c332e01" data-element_type="section" data-settings="{" _ha_eqh_enable":false}"="">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-30e532d" data-id="30e532d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-cbd25b3 elementor-widget elementor-widget-elementskit-team" data-id="cbd25b3" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_cbd25b3_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#cbd25b3_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Leena-web.jpg" class="attachment-large size-large wp-image-3322" alt="" srcset="static/images/Leena-web.jpg 500w, static/images/Leena-web-300x300.jpg 300w, static/images/Leena-web-150x150.jpg 150w, static/images/Leena-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_cbd25b3_2981" class="ekit-team-popup">
						Leena Munir						</a>
											</h2>
					<p class="profile-designation">Director Welfare  / Media Affairs</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_cbd25b3_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Leena-web.jpg" class="attachment-large size-large wp-image-3322" alt="" srcset="static/images/Leena-web.jpg 500w, static/images/Leena-web-300x300.jpg 300w, static/images/Leena-web-150x150.jpg 150w, static/images/Leena-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Leena Munir</h2>
								<p class="ekit-team-modal-position">Director Welfare  / Media Affairs</p>
								
								<div class="ekit-team-modal-content">
									Overall managing Welfare &amp; Media realted matters								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3c195b6" data-id="3c195b6" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-607fcd3 elementor-widget elementor-widget-elementskit-team" data-id="607fcd3" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_607fcd3_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#607fcd3_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Bazma-web.jpg" class="attachment-large size-large wp-image-3319" alt="" srcset="static/images/Bazma-web.jpg 500w, static/images/Bazma-web-300x300.jpg 300w, static/images/Bazma-web-150x150.jpg 150w, static/images/Bazma-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_607fcd3_2981" class="ekit-team-popup">
						Bazma Tahir						</a>
											</h2>
					<p class="profile-designation">Director Human Resource</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_607fcd3_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Bazma-web.jpg" class="attachment-large size-large wp-image-3319" alt="" srcset="static/images/Bazma-web.jpg 500w, static/images/Bazma-web-300x300.jpg 300w, static/images/Bazma-web-150x150.jpg 150w, static/images/Bazma-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Bazma Tahir</h2>
								<p class="ekit-team-modal-position">Director Human Resource</p>
								
								<div class="ekit-team-modal-content">
									Overall managing human resource development &amp; job placement								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ae3e88a" data-id="ae3e88a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5e1cb07 elementor-widget elementor-widget-elementskit-team" data-id="5e1cb07" data-element_type="widget" data-widget_type="elementskit-team.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con">								
		<div class="profile-card elementor-animation-bob text-center ekit-team-style-default">
							<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_5e1cb07_2981" class="ekit-team-popup">
						
				<div class="profile-header ekit-team-img ekit-img-overlay ekit-team-img-block" data-toggle="modal" data-target="ekit_team_modal_#5e1cb07_2981">
					<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Asma-web.jpg" class="attachment-large size-large wp-image-3318" alt="" srcset="static/images/Asma-web.jpg 500w, static/images/Asma-web-300x300.jpg 300w, static/images/Asma-web-150x150.jpg 150w, static/images/Asma-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">				</div><!-- .profile-header END -->
							</a>
						

				<div class="profile-body">
					
					<h2 class="profile-title">
											<a aria-label="profile" href="javascript:void(0)" data-mfp-src="#ekit_team_modal_5e1cb07_2981" class="ekit-team-popup">
						Asma Naveed						</a>
											</h2>
					<p class="profile-designation">Director Business Development</p>
									</div><!-- .profile-body END -->

								</div>
							
			
					<div class="zoom-anim-dialog mfp-hide elementskit-team-popup" id="ekit_team_modal_5e1cb07_2981" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<button type="button" class="ekit-team-modal-close">
							<i aria-hidden="true" class="fas fa-times"></i>						</button>

						<div class="modal-body">
															<div class="ekit-team-modal-img">
									<img loading="lazy" decoding="async" width="500" height="500" src="static/images/Asma-web.jpg" class="attachment-large size-large wp-image-3318" alt="" srcset="static/images/Asma-web.jpg 500w, static/images/Asma-web-300x300.jpg 300w, static/images/Asma-web-150x150.jpg 150w, static/images/Asma-web-52x52.jpg 52w" sizes="(max-width: 500px) 100vw, 500px">								</div>
							
							<div class="ekit-team-modal-info has-img">
								<h2 class="ekit-team-modal-title">Asma Naveed</h2>
								<p class="ekit-team-modal-position">Director Business Development</p>
								
								<div class="ekit-team-modal-content">
									Overall managing business development matters &amp; new avenues of fund raising								</div>

																
															</div>
						</div>
					</div>
				</div>
			</div>
				</div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
							</div>
{% include "footer.html" %}   